.about-body {
    text-align: center;
    justify-content: center;
}

.about-img {
    flex: 50%;
    padding: 5px;
}

.about-text {
    flex: 50%;
    padding: 5px;
}

.about-body h2 {
    font-family: 'Open Sans', sans-serif;
}

.about-body p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

/*display for larger screens*/
@media (min-width: 770px) {
    .about-body {
        display: flex;
    }

    .about-body p {
        font-size: 20px
    }
}

/*display for smaller screens*/
@media (max-width: 769px) {

}
