.about-body {
  margin: auto;
  width: 100%;
  height: 100%;
  height: 100vh;
  justify-content: center;
}

.about-grid {
  text-align: center;
  justift-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.about-grid h2 {
  font-family: 'Anton', sans-serif;
}

.about-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.about-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

@media (min-width: 769px) {
    .about-body {
    }
}
