.footer__navigation{
    position: sticky;
    height: 175px;
    margin: 0 auto -175px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.footer_navigation-items li {
    color: white;
    text-decoration: none;
}

.footer_navigation-items p {
    font-size: 21px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.footer_navigation-items i {
    color: white;
}

.footer_navigation-items li:hover,
.footer_navigation-items li:active {
    cursor: pointer;
    transform: scale(1.05)
}

/*Display for small screens*/
@media (max-width: 768px) {
    .footer_navigation-items li {
        margin: 0 29px;
    }

    .footer_navigation-items p {
        display: none;
    }

}

/*Display for large screens*/
@media (min-width: 769px) {
    .footer_navigation-items li {
    margin: 0 1%;
    }

    .footer__toggle-button {
        display: none;
    }

    .footer__logo {
        margin-left: 0;
    }
}
