.category-tabs h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 0.3em;
    font-family: 'Open Sans', sans-serif;
}

/* Display for larger screens*/
@media (min-width: 769px) {
    .projects-grid {
        display: flex;
    }
}

/*Display for smaller screens*/
@media (max-width: 770px) {

}

